<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	{{! Styles }}
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/highlighter/prettify.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
	{{! Responsive Meta Tags }}
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}
	{{ghost_foot}}
	{{! Scripts }}
	<script type='text/javascript' src='/assets/highlighter/prettify.js'></script>
	<script type='text/javascript' src='/assets/js/all.min.js'></script>
    <!-- Google Analytics -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-12420899-1');ga('send','pageview');
    </script>
    <!-- Facebook API -->
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=128906793946521";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Automatic facebook like, share and comment plugin -->
    <script type="text/javascript">
        var currentUrl = document.URL;
        if(currentUrl.indexOf('localhost') > -1){
            currentUrl = 'http://webdesignporto.com';
        }
        var getLikePlugin = function(){
            return $('<div class="fb-like" data-href="'+currentUrl+'" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>')
        }
        var getCommentPlugin = function(){
            return $('<div class="fb-comments" data-href="'+currentUrl+'" data-width="576" data-numposts="10" data-colorscheme="light"></div>');
        }
        if($('body').hasClass('post-template')){
            getLikePlugin().insertBefore($('article > footer'))
            getCommentPlugin().insertBefore($('article > footer'))
        }else if($('body').hasClass('home-template')){
            $('article > footer').append(getLikePlugin());
        }
    </script>
</body>
</html>
